/* Write your CSS here */
.thumbnail {
  cursor: pointer;
  width: 200px;
  height: 150px;
  border-radius: 8px;
}

.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 450px;
  border-radius: 16px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close-button {
  background-color: transparent;
  align-self: flex-end;
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 18px;
  margin-right: 18px;
}

.player-container {
  margin-top: 12px;
  margin-bottom: 48px;
  margin-left: 48px;
  margin-right: 48px;
}
